<mos-modal>
    <h2>Om Mosaink</h2>
    <h3>Vad är Mosaink?</h3>
    <p>Mosaink gör dina instagram-bilder till en vacker och högkvalitativ mosaik på print.</p>
    <h3>Vad är historien bakom Mosaink?</h3>
    <p>
        Sedan några år har gemene man blivit en form av mikrofotograf vars bilder allt för ofta försvinner från andras och ditt eget näthinna inom 48 timmar. Mosaink vill ta vara på dina fina och personliga bilder och göra dem till något som är trevligt att se på och prata om i ditt hem.
    </p>

    <h3>Feedback</h3>
    <p>Dina tankar och idéer om Mosaink är otroligt värdefulla! Skriv gärna alla dina tankar och idéer i ett mail till <a href="mailto:feedback@mosaink.com">feedback@mosaink.com</a></p>

    <h3>Köp</h3>
    <h4>Hur köper jag en Mosaink?</h4>
    <p>På samma sida som du ser din Mosaink finns även en "Köp nu"-knapp. Tryck på den och fyll i dina leverans- och kortuppgifter och tryck på "Betala".</p>
    <h4>Hur sker betalning?</h4>
    <p>
        Betalning sker med kort från VISA, MasterCard eller American Express.
    </p>
    <h4>Hur vet jag att betalningen är säker?</h4>
    <p>
        Tack vare ett samarbete med <a href="https://stripe.com/about">Stripe</a> sker alla betalningar över krypterad anslutning där Mosaink aldrig sparar några kortuppgifter.
    </p>

    <h3>Leverans</h3>
    <h4>Vad kostar leveransen?</h4>
    <p>Leveransen är gratis.</p>

    <h4>Hur lång tid tar det?</h4>
    <p>
        Leveranstiden ligger normalt på en vecka från att betalning genomförts.
    </p>

    <h4>Hur sker leveransen</h4>
    <p>
        Din Mosaink skickas med Posten som spårbart brev.
    </p>

    <h3>Reklamation</h3>
    <p>
        Reklamation
        Reklamationer ska för att beaktas inom 14 dagar efter mottagandet av arbetet (uppenbara fel) eller inom 14 dagar efter konstaterat fel (dolda fel) skickas in skriftligt och allt negativt- och positivt material och vår orderpåse ska bifogas. Endast tekniska brister – och inte smakmässiga synpunkter – är giltig reklamationsgrund.<br>
        Du kan inte reklamera fel som uppstått vid ordergivningen på grund av inexakta eller bristfälliga uppgifter eller uppgifter som kan missförstås. Om en efterbeställning avviker från den första leveransen, berättigar detta inte till reklamation.<br>
        Vid berättigad reklamation är vi förpliktigade till gratis omleverans. Såvida det reklamerade felet inte kan avhjälpas med en ny leverans, äger ordergivaren rätt att dra sig ur kontraktet. Det kan inte göras ytterligare krav gällande avdrag, annullering eller skadeersättning.
    </p>

    <h3>Integritetspolicy</h3>
    <p>
        Vi tar din dig och din integritet på största allvar. Läs gärna mer om vår integritetspolicy <a href="https://mosaink.com/#/privacy-policy">här</a>.
    </p>

    <h3>Vilka ligger bakom Mosaink?</h3>
    <p>
        Vi som haft glädjen att få komma på och bygga Mosaink är Fredrik Stockman (<a href="http://instagram.com/fredrikstockman">fredrikstockman på Instagram</a><!--  / <a href="http://www.linkedin.com/profile/view?id=48107979">LinkedIn</a> -->) och Tim Holmberg (<a href="http://instagram.com/timps">timps på Instagram</a>)
    </p>
    <h3>Kontakt</h3>
    <p>
        <a href="mailto:info@mosaink.com">info@mosaink.com</a>
    </p>
    <h3>Postadress</h3>
    <p>
        Mosaink.com<br>
        BOX 6186<br>
        11324 Stockholm<br>
    </p>
    <h3>Telefon</h3>
    <p>
        0736-170710
    </p>
</div>
