<mos-modal>
    <span ng-controller="LogoutModalCtrl">
        <h2>
            Logga ut
        </h2>
                
        <p>
            När du loggar ut öppnas ett nytt fönster med Instagrams hemsida. Stäng detta så kommer du tillbaka till Mosaink.
        </p>
        <br>
        <br>
        <a 
            href="https://instagram.com/accounts/logout/" 
            target="_blank" 
            ng-click="logout_and_redirect()" 
            class="mos-button">
            Ok, jag vill logga ut
        </a>
    </span>
</mos-modal>
