<!-- <div id="info" class="pull-right">
    <a
        href=""
        analytics-on="click"
        analytics-event="Clicked Something"
        data-animation="am-fade-and-scale"
        data-template="common/templates/about.html"
        bs-modal="modal">
        Om mosaink
    </a>
    <a
        href=""
        data-template="common/templates/about.html"
        bs-modal="modal">
        Hur funkar det?
    </a>
</div> -->

<div class="mosaink-preview">
    <!-- <div mos-frame
         username="fredrikstockman"
         min-images="64"
         ratio-width="1"
         ratio-height="1"
         max-ratio-factor="8"
         state="state"></div> -->
</div>

<div mos-instagram-search-input redirect-url="#/{username}"></div>
