<div class="mos-modal">
	<div class="mos-modal-body">
		<h2>
			För få bilder, ta {{ num_recommended_images - num_images }} till!
		</h2>
        <p>
        	För att få en högkvalitativ och opixlig Mosaink rekommenderar vi att du minst har {{ num_recommended_images }} bilder och du har {{ num_images }} bilder.
		</p>
		<p>
			Vår rekommendation är att du tar {{ num_recommended_images - num_images }} bilder till och sedan köper en sedan sen kommer tillbaka och köper en Mosaink.
        </p>
        <p>
        	Har du några tankar eller idéer? Hör gärna av dig till oss på <a href="mailto:info@mosaink.com">info@mosaink.com</a>.
        </p>
        <p>
        	Allt gott,
        </p>
        <p>
			Mosaink
		</p>
        <br>
        <br>
        <a href="/" target="_self" class="mos-button">Ok!</a>
    </div>
</div>
