<div id="tos">
	<h3>Terms &amp; Conditions in short</h3>
	<ul>
	    <li>By ordering any of our products, you agree to be bound by these terms &amp; conditions.</li>
	    <li>By placing an order at Mosaink, you warrant that you are at least 18 years old or have parents' permission to buy from us.</li>
	    <li>All personal information you provide us with or that we obtain will be handled by Mosaink as responsible for the personal information.</li>
	    <li>Events outside Mosaink's control shall be considered force majeure.</li>
	    <li>The price applicable is that set at the date on which you place your order.</li>
	    <li>Shipping costs and payment fees are recognized before confirming the purchase.</li>
	    <li>Card information is transmitted over secure SSL encryption and is not stored.</li>
	    <li>Please note that local charges may occur.</li>
	    <li>Mosaink reserves the right to amend any information without prior notice.</li>
	</ul>
	<br>
	<h3>Terms &amp; Conditions</h3>
	<p>
	    This page contains the terms &amp; conditions. Please read these terms &amp; conditions carefully before ordering any products from us. You should understand that by ordering any of our products, you agree to be bound by these terms &amp; conditions.
	</p>
	<p>
	    By placing an order at Mosaink, you warrant that you are at least 18 years old (or have parents' permission to buy from us) and accept these terms &amp; conditions which shall apply to all orders placed or to be placed at Mosaink for the sale and supply of any products. None of these terms &amp; conditions affect your statutory rights. No other terms or changes to the terms &amp; conditions shall be binding unless agreed in writing signed by us.
	</p>
	<br>
	<h3>Personal Information</h3>
	<p>
	    All personal information you provide us with or that we obtain will be handled by Mosaink as responsible for the personal information. The personal information you provide will be used to ensure deliveries to you, the credit assessment, to provide offers and information on our catalog to you. The information you provide is only available to Mosaink and will not be shared with other third parties. You have the right to inspect the information held about you. You always have the right to request Mosaink to delete or correct the information held about you. By accepting the Mosaink Conditions, you agree to the above.
	</p>
	<br>
	<h3>Force Majeure</h3>
	<p>
	    Events outside Mosaink's control, which is not reasonably foreseeable, shall be considered force majeure, meaning that Mosaink is released from Mosaink's obligations to fulfill contractual agreements. Example of such events are government action or omission, new or amended legislation, conflict, embargo, fire or flood, sabotage, accident, war, natural disasters, strikes or lack of delivery from suppliers. The force majeure also includes government decisions that affect the market negatively and products, for example, restrictions, warnings, ban, etc.
	</p>
	<br>
	<h3>Payment</h3>
	<p>
	    All products remain Mosaink's property until full payment is made. The price applicable is that set at the date on which you place your order. Shipping costs and payment fees are recognized before confirming the purchase. If you are under 18 years old you must have parents' permission to buy from Mosaink.
	</p>
	<p>
	    All transfers conducted through Mosaink are handled and transacted through third party dedicated gateways to guarantee your protection. Card information is not stored and all card information is handled over SSL encryption. Please read the terms &amp; conditions for the payment gateway choosen for the transaction as they are responsible for the transactions made.
	</p>
	<br>
	<h3>Local Taxes</h3>
	<p>
	    Please note that local charges (sales tax, customs duty) may occur, depending on your region and local customs duties. These charges are at the customers own expense.
	</p>
	<br>
	<h3>Cookies</h3>
	<p>
	    Mosaink uses cookies according to the new Electronic Communications Act, which came into force on 25 July 2003. A cookie is a small text file stored on your computer that contains information that helps the website to identify and track the visitor. Cookies do no harm to your computer, consist only of text, can not contain viruses and occupies virtually no space on your hard drive. There are two types of cookies: "Session Cookies" and cookies that are saved permanently on your computer.
	</p>
	<p>
	    The first type of cookie commonly used is "Session Cookies". During the time you visit the website, our web server assigns your browser a unique identifier string so as not to confuse you with other visitors. A "Session Cookie" is never stored permanently on your computer and disappears when you close your browser. To use Mosaink without troubles you need to have cookies enabled.
	</p>
	<p>
	    The second type of cookie saves a file permanently on your computer. This type of cookie is used to track how visitors move around on the website. This is only used to offer visitors better services and support. The text files can
	    be deleted. On Mosaink we use this type of cookie to keep track of your shopping cart and to keep statistics of our visitors. The information stored on your computer is only a unique number, without any connection to personal information.
	</p>
	<br>
	<h3>Additional Information</h3>
	<p>
	    Mosaink reserves the right to amend any information, including but not limited to prices, technical specifications, terms of purchase and product offerings without prior notice. At the event of when a product is sold out, Mosaink has the right to cancel the order and refund any amount paid in the best way. Mosaink shall also notify the customer of equivalent replacement products if available.
	</p>
	<br>
	<p>All enquiries: mosaink@fsto.me</p>
</div>